#logoImage{
    display: block;
    margin-left: 0;;
    width: 50%;
}

#perfilImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height:40%;
}

#botonContraseña{
  border-color: white;
}

.cabecera{
    text-align: center;
}

ion-card{
    height:auto;
}

ion-card-header{
  height: auto;
}
  
  ion-footer{
    padding:0;
    display: block;
    padding-top:auto;
  }
  
  //Iphone 5
  @media all  and (min-width:320px) and (max-width:359px){
    ion-footer{
        padding-top:1%
    }
  }
  
  //Samsung
  @media all  and (min-width:360px) and (max-width:410px){
    ion-footer{
        padding-top:5%
    }
  }
  
  //Iphone X
  @media all  and (min-width:360px) and (max-width:410px) and (min-height:812px){
    ion-footer{
        padding-top:25%
    }
  
    ion-card{
      padding-top: 10%;
    }
  }
  
  //Pixel
  @media all  and (min-width:411px) and (max-width:567px){
    ion-footer{
        padding-top:20%
    }
  
    ion-card{
      padding-top: 10%;
    }
  }
  
  //Pixel XL
  @media all  and (min-width:411px) and (max-width:567px) and (min-height:823px){
    ion-footer{
        padding-top:40%
    }
  }
  
  @media all  and (min-width:568px) and (max-width:639px){
    ion-footer{
        padding-top:10%
    }
  }
  
  //Samsung
  @media all  and (min-width:640px) and (max-width:767px){
    ion-footer{
        padding-top:5%
    }
  }
  
  //Pixel XL
  @media all  and (min-width:768px) and (max-width:1365px){
    ion-footer{
        padding-top:5%
    }
  }
  
  @media all  and (min-width:768px) and (max-width:1365px) and (min-height:1024px){
    ion-footer{
        padding-top:33%
    }
  }
  
  @media all  and (min-width:1024px) and (max-width:1365px) and (min-height:1366px){
    ion-footer{
        padding-top:80%
    }
  }
  
  
  @media all  and (min-width:1366px){
    ion-footer{
        padding-top:1%
    }
  }
  
  @media all  and (min-width:1366px) and (min-height:1024px){
    ion-footer{
        padding-top:30%
    }
  }

  #firstImage{
    padding-left: 25%;
  }
  
  #lastImage{
    padding-right: 13%;
  }