<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Jugadores
    </ion-title>
    <ion-buttons slot="end" (click)="handleCreateUser()" *ngIf="listUser">
      <ion-icon name="person-add"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" (click)="handleListUser()" *ngIf="createUser">
      <ion-icon name="list"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="listUser">
  <ion-list>
    <ion-item *ngFor="let player of players">
      {{player.nombre}}
      <div class="item-note" slot="end">
        Codigo. {{player.codigo}}
      </div>
      <div class="item-note" slot="end">
        Equipo. {{player.equipo}}
      </div>
      <div class="item-note" slot="end">
        Posicion. {{player.posicion}}
      </div>
      <div class="item-note" slot="end">
        No. {{player.numero}}
      </div>
      <ion-button color="danger" expand="full" (click)="handleDeleteUser(player.codigo)" slot="end">Borrar</ion-button>
      <ion-button color="warning" expand="full" (click)="handleUpdateUser(player.codigo)" slot="end">Actualizar
      </ion-button>
    </ion-item>
  </ion-list>
  <footer>
      <a id="footerImage" href="https://www.facebook.com/HappyMondays.com.gt/" target="_blank"><img src="/assets/footerFacebook.png" alt="Pie de pagina" /></a>
      <a href="https://www.linkedin.com/company/happymondays.com.gt" target="_blank"><img src="/assets/footerLinkedIn.png" alt="Pie de pagina" /></a>
      <a href="https://www.instagram.com/happymondays.com.gt/" target="_blank"><img src="/assets/footerInstagram.png" alt="Pie de pagina" /></a>
    </footer>
</ion-content>

<ion-content *ngIf="createUser">
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-item>
          <ion-input class="createInput" clearInput  type="text" placeholder="Nombre" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-input class="createInput" clearInput type="text" placeholder="Numero" [(ngModel)]="numero"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-list>
          <ion-list-header>Seleccione el equipo</ion-list-header>

          <ion-item>
            <ion-label>Opcion</ion-label>
            <ion-select ok-text="Aceptar" cancel-text="Cancelar" [compareWith]="compareWith" [(ngModel)]="objEquipo" (ionChange)="setEquipo()">
              <ion-select-option [value]="equipo" *ngFor="let equipo of equipos">{{equipo.nombre}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="6">
          <ion-list>
            <ion-list-header>Seleccione la posicion</ion-list-header>
  
            <ion-item>
              <ion-label>Opcion</ion-label>
              <ion-select ok-text="Aceptar" cancel-text="Cancelar" [compareWith]="compareWith" [(ngModel)]="objPosicion" (ionChange)="setPosicion()">
                <ion-select-option [value]="posicion" *ngFor="let posicion of posiciones">{{posicion.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>

      <ion-col size="6">
        <ion-button color="danger" expand="full" type="submit" (click)="handleAddJugador()">Guardar
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button color="warning" expand="full" type="submit" (click)="handleListUser()">Cancelar
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <footer>
      <a id="footerImage" href="https://www.facebook.com/HappyMondays.com.gt/" target="_blank"><img src="/assets/footerFacebook.png" alt="Pie de pagina" /></a>
      <a href="https://www.linkedin.com/company/happymondays.com.gt" target="_blank"><img src="/assets/footerLinkedIn.png" alt="Pie de pagina" /></a>
      <a href="https://www.instagram.com/happymondays.com.gt/" target="_blank"><img src="/assets/footerInstagram.png" alt="Pie de pagina" /></a>
    </footer>
</ion-content>

<ion-content *ngIf="updateUser">
  <ion-grid>
    <ion-row>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input class="updateInput" clearInput type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Numero</ion-label>
          <ion-input class="updateInput" clearInput  type="text" [(ngModel)]="numero"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col size="6">
          <ion-list>
            <ion-list-header>Seleccione el equipo</ion-list-header>
  
            <ion-item>
              <ion-label>Opcion</ion-label>
              <ion-select ok-text="Aceptar" cancel-text="Cancelar" [compareWith]="compareWith" [(ngModel)]="objEquipo" (ionChange)="setEquipo()">
                <ion-select-option [value]="equipo" *ngFor="let equipo of equipos">{{equipo.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
  
        <ion-col size="6">
            <ion-list>
              <ion-list-header>Seleccione la posicion</ion-list-header>
    
              <ion-item>
                <ion-label>Opcion</ion-label>
                <ion-select ok-text="Aceptar" cancel-text="Cancelar" [compareWith]="compareWith" [(ngModel)]="objPosicion" (ionChange)="setPosicion()">
                  <ion-select-option [value]="posicion" *ngFor="let posicion of posiciones">{{posicion.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>
  
      
      <ion-col size="6">
        <ion-button color="danger" expand="full" type="submit" (click)="handleUpdateJugador()">
          Actualizar
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button color="warning" expand="full" type="submit" (click)="handleListUser()">
          Cancelar
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <footer>
      <a id="footerImage" href="https://www.facebook.com/HappyMondays.com.gt/" target="_blank"><img src="/assets/footerFacebook.png" alt="Pie de pagina" /></a>
      <a href="https://www.linkedin.com/company/happymondays.com.gt" target="_blank"><img src="/assets/footerLinkedIn.png" alt="Pie de pagina" /></a>
      <a href="https://www.instagram.com/happymondays.com.gt/" target="_blank"><img src="/assets/footerInstagram.png" alt="Pie de pagina" /></a>
    </footer>
</ion-content>