<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <div class="Slider">
      <ul>
        <li><img src="/assets/portada.png" alt="portada1" /></li>
        <li><img src="/assets/portada2.png" alt="portada2" /></li>
        <li><img src="/assets/portada3.png" alt="portada3" /></li>
      </ul>
    </div>

    <ion-card-header>
      <ion-card-title>Welcome to HappyMondays</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h5 class="tituloVerde" style="text-align: center;">¿CÓMO FUNCIONA?</h5>
      <p style="text-align: justify;">Registrándote tendrás acceso a que empresas en el mercado laboral encuentren tu
        perfil.
        Conforme vayamos conociéndote, te recomendaremos ofertas de trabajo que se adapten a tu perfil profesional.</p>
      <br>
      <h5 class="tituloVerde" style="text-align: center;">ACCIONES RÁPIDAS</h5>
      <ion-button color="secondary" expand="full">Mi CV</ion-button>
      <ion-button color="medium" expand="full">Ofertas laborales</ion-button>


    </ion-card-content>
  </ion-card>


  <ion-footer>
    <ion-toolbar id="footer" color="dark">
      <ion-grid>
        <ion-row>
          <ion-col id="firstImage">
            <a href="https://www.facebook.com/HappyMondays.com.gt/" target="_blank">
              <ion-icon name="logo-facebook" style="font-size: 35px;color:white"></ion-icon>
            </a>
          </ion-col>

          <ion-col>
            <a href="https://www.linkedin.com/company/happymondays.com.gt" target="_blank">
              <ion-icon name="logo-linkedin" style="font-size: 35px;color:white"></ion-icon>
            </a>
          </ion-col>

          <ion-col id="lastImage">
            <a href="https://www.instagram.com/happymondays.com.gt/" target="_blank">
              <ion-icon name="logo-instagram" style="font-size: 35px;color: white;"></ion-icon>
            </a>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-content>